body{
    margin: 0;
}
p{
    color: #6F859D;
}
.container{
    width: 1300px;
    margin: auto;
}
.first_section{
    background-image: url(images/me-banner.png);
    background-position: center center;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    padding-top: 50px;
}
.navbar_right{
    float: right;
}
.navbar_left img{
    width: 8%;
}
.navbar_left a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    font-size: 16px;
    padding-bottom: 15px;
}
.navbar_left a:hover{
    color: #FD4766;
    border-bottom: 2px solid #FD4766;
}
.navbar_right a{
    color: #F2D6D7;
    margin-left: 30px;
    font-size: 20px;
}
.navbar_right a:nth-child(1):hover{
    color: #0F8FF2;
}
.navbar_right a:nth-child(2):hover{
    color: #0073B2;
}
.navbar_right a:nth-child(3):hover{
    color: #EA5C3A;
}
.navbar_right a:last-child:hover{
    color: #1CA1F0;
}



.personal_content{
    margin-top: 20%;
}
.personal_content h6{
    color: #6F859D;
}
.personal_content h1{
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    font-size: 50px;
}
.personal_content h1:nth-child(3){
    color: #FD4766;
    ;
}
.personal_content button{
    background: none;
    border: 2px solid #353949;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 1s;
}
.personal_content button:hover{
    background-color: #FD4766;
    color:#ffffff;
    border: 2px solid #FD4766;
}

.second_section{
    padding-top: 10%;
    padding-bottom: 5%;
}

.second_content{
    display: flex;
}

.second_left{
    width: 40%;
}
.second_right{
    width: 60%;
}
.second_left img{
    width: 90%;
    border-radius: 10px;
}
.second_right h5{
    background-image: linear-gradient(to left, #1C99FE, #D83F5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300px;
}

.second_right h1{
    font-style: bold;
    font-size: 60px;
}
.second_right p{
    color: #6F859D;
    font-size: 18px;
}
.my_tab ul{
    border: 1px solid red;
    border-radius: 2px;
    padding: 1%;
    margin: 5% 0;

}
.my_tab ul li{
    border: none;
}
.my_tab ul li button{
    color: green;
    border: none;
}
.my_tab ul li button.active{
    border: none;
    color: red;
}
.my_tab ul li button:hover{
    border: none;
    color: red;
}
.progress_section label{
    color: #6F859D;
}
.progress_section span{
    color: #6F859D;
    float: right;
}
.progress_section progress{
    width: 100%;
    border: none;
    height: 6px;
    background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
}
.third_section{
    background-color: #0E1525;
    padding: 5% 0 5% 0;
}
.third_top{
    text-align: center;
    padding-bottom: 3%;
}
.third_top h5{
    background-image: linear-gradient( 30deg,#1C99FE, #D83F5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300px;
}
.third_top h1{
    color: #fff;
    font-family: Poppins-Bold,monospace bold;
    font-size: 50px;
}
.third_top p{
    font-size: 20px;
}
.third_content_top, .third_content_bottom{
    display: flex;
}
.third_common h4{
    color: #fff;
    padding: 5% 0 3% 0;
}
.third_common p{
    font-size: 18px;
}
.third_common{
    padding: 3% 2% 3% 2%;
    margin: 1%;
    background-color: #091020;
    border-radius: 10px;
    transition: .8s;
}
.third_common:hover{
    margin-top: 5px;
}
.third_common i{
    font-size: 40px;
}
.third_content_1 i{
    color: #FD4766;
}
.third_content_2 i{
    color: #3176F2;
}
.third_content_3 i{
    color: #12D8DF;
}
.third_content_4 i{
    color: #459B72;
}
.third_content_5 i{
    color: #623ADB;
}
.third_content_6 i{
    color: #357FF6;
}
